<div class="p-5 text-center bg-light">
  <h1 class="mb-3">Orders</h1>
</div>

<div class="center-table">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th>Order Number</th>
      <th>Order Name</th>
      <th>Customer</th>
      <th>Price</th>
      <th style="padding-left: 100px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>
        <div class="d-flex align-items-center">
          <img
            src="https://img.icons8.com/material/96/null/indent--v1.png"
            alt=""
            style="width: 40px; height: 40px"
            class="rounded-circle"
          />

          <div class="ms-3">
            <p class="fw-bold mb-1">#{{ order.id }} </p>
          </div>
        </div>
      </td>
      <td>{{ order.name }}</td>
      <td>
        {{ getCustomerName(order.customerId) }}
      </td>
      <td>${{ order.price }}</td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded" [routerLink]="['/orders', order.id]">
          View Order
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm btn-rounded" (click)="deleteOrder(order.id, order.customerId)">
          Delete
        </button>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="add-button-position">
    <button type="button" class="btn btn-outline-primary btn-floating " style="width: 45px;height: 45px;" (click)="openCreateOrderModal()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>
